#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: aliceblue;
}

body {
  background-color: #452180 !important;
  opacity: 0.9 !important;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #5b309b 90px), repeating-linear-gradient(#00000055, #000000) !important;
  background-size: cover !important;
}

navbar {
  background-color: aqua;
}